.userWrap {
  display: flex;
  gap: 20px;
  justify-content: baseline;
  align-items: baseline;
}

.btnLogout {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(74, 3, 92);
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
}
.btnLogout:hover,
.btnLogout:focus {
  background-color: whitesmoke;
}

.userText {
  color: black;
  font-weight: 500;
  font-size: 20px;
}
